<style>
    ul.vehicle{
        list-style: none;
    }

    .item{
        font-weight: bold;
    }

    .item label{
        color: #a61fa1
    }
      body {
    background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/06/Pictures-Download-HD-Car-Wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
</style>
<div class="container mt-5 body-bg">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Sign In</h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="/user/login">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>

                        <div class="col-md-12">
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success">Login</button>
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="text-center">
                                <p> Don't have account? <a href="/user/sign-up">Click Here </a> to Sign up</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>